.uploadpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.uploadpage-header {
  margin-bottom: 20px;
}
.uploadpage-subheader {
  margin-bottom: 20px;
  text-align: center;
}
.uploadpage-dropzone {
  width: 90% !important;
  max-width: 640px;
}
.uploadpage-dropzone--hidden {
  display: none;
}
.uploadpage-videoplayer {
  margin-top: 20px;
  width: 90% !important;
  max-width: 640px;
  max-height: 40vw;
}
.uploadpage-buttonrow {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px !important;
  width: 100%;
}
.uploadpage-button {
  margin-left: 20px !important;
  text-transform: none !important;
}
.uploadpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  height: 80%;
}
.uploadpage-previewcontainer {
  display: flex;
  justify-content: center;
}
